@import "../main.scss";

.notfound{
    height: 75vh;
    width: 100%;
    @include flx-center(1px, column);

    h1{
        margin-block: 0px;
    }

    h1:nth-child(1){
        font-size: 2rem;
        color: map-get($clr-palette, "atc");
    }

    .bg{
        @include bg-img(40vh, 50%, "../../public/Res/Heros/notfound.png");
        margin-top: 30px;
    }
}

